.form-signin {
	max-width: 800px;
	padding: 200px;
	margin: 0 auto;
}

.form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	
	font-size: 16px;
}

body {
	background-color: #ADFF2F;
}

nav {
  padding: 10px 20px;
}

.logo{
	width:400px;	
}

h2 {
	color: white;
	text-align: center;
}

input {
	margin: 15px 0;
}

button {
	margin: 25px 0;
}


